<fiv-dialog #dialogTop [backdropClose]="backdropClose" [swipeEnabled]="swipeEnabled" [animation]="animation" [verticalAlign]="verticalAlign" [backdrop]="backdrop">
  <ion-card class="card">
      <ion-card-content>
          <ion-card-title>Hello World</ion-card-title>
      
          <p>The content for this card</p>
      
          <ion-button (click)="dialogTop.hideDialog()">schließen</ion-button>
        </ion-card-content>
  </ion-card>
  
</fiv-dialog>

<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>dialog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Backdrop</ion-label>
      <ion-toggle slot="end" [(ngModel)]="backdrop"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Backdrop click closes dialog</ion-label>
      <ion-toggle slot="end" [(ngModel)]="backdropClose"></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-label>Swipe to close</ion-label>
      <ion-toggle slot="end" [(ngModel)]="swipeEnabled"></ion-toggle>
    </ion-item>
    
    <ion-item>
        <ion-label>Animation</ion-label>
        <ion-select slot="end"  [(ngModel)]="animation">
          <ion-select-option value="fadeIn">fade in</ion-select-option>
          <ion-select-option value="slideIn">slide in</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
          <ion-label>Vertical Alignment</ion-label>
          <ion-select slot="end"  [(ngModel)]="verticalAlign">
            <ion-select-option value="top">top</ion-select-option>
            <ion-select-option value="center">center</ion-select-option>
            <ion-select-option value="bottom">bottom</ion-select-option>
          </ion-select>
        </ion-item>

        <fiv-loading-button (click)="openDialog()">
          Zeige Dialog
        </fiv-loading-button>

  </ion-list>

</ion-content>
<fiv-dialog #dialogBottom [backdropClose]="backdropClose" [swipeEnabled]="swipeEnabled" [animation]="animation" [verticalAlign]="verticalAlign" [backdrop]="backdrop">
  <ion-card class="card">
      <ion-card-content>
          <ion-card-title>Hello World</ion-card-title>
      
          <p>The content for this card</p>
      
          <ion-button (click)="dialogBottom.hideDialog()">schließen</ion-button>
        </ion-card-content>
  </ion-card>
  
</fiv-dialog>