<app-header title="Icon"></app-header>

<ion-content>
  <ion-grid class="page-content" fixed>
    <ion-row>
      <ion-col sizeXl="10" offsetXl="1" sizeLg="10" offsetLg="1" sizeMd="12" sizeXs="12" offsetXs="0" offsetSm="0"
        offsetMd="0" sizeSm="12" sizeMd="12">
        <app-example docs="assets/docs/components/icon.md">

          <ion-item>
            <ion-label>Icon turned off</ion-label>
            <ion-checkbox [(ngModel)]="off" slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Icon dot</ion-label>
            <ion-checkbox [(ngModel)]="dot" slot="end"></ion-checkbox>
          </ion-item>
          <ion-toolbar color="translucent">
            <ion-buttons slot="end">
              <ion-button color="primary" (click)="increment()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
              <ion-button color="primary" (click)="decrement()">
                <ion-icon slot="icon-only" name="remove"></ion-icon>
              </ion-button>
              <ion-button color="primary" fill="outline" shape="round" (click)="getNewIcon()">
                change random icon
              </ion-button>
            </ion-buttons>
          </ion-toolbar>

          <div class="example">
            <ion-buttons [fivCenter]>
              <ion-button>
                <fiv-icon [off]="off" [dot]="dot" slot="icon-only" [badge]="badge" [name]="icon">
                </fiv-icon>
              </ion-button>
            </ion-buttons>

          </div>


        </app-example>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>