:host {
  --fiv-dot-color-background: var(--ion-color-light);
  --fiv-dot-color: var(--ion-color-primary);
}

.example {
  --fiv-color-icon: var(--ion-color-dark);
  position: relative;
  height: 120px;
}
