ion-footer {
  background: var(--ion-color-dark);
  padding: 24px 0 24px 0;
}

h4 {
  color: var(--ion-color-dark-contrast);
}

.links {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.3;
  color: var(--ion-color-light);
}

a:hover {
  color: var(--ion-color-light-shade);
}

a {
  text-decoration: none;
}

#social {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: var(--ion-color-light);
    font-size: 2rem;
    padding: 0 12px 0 12px;
  }

  a:first-child {
    padding-left: 0;
  }

  a:last-child {
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  #social {
    order: -1;
  }
}
