<ion-footer #footer no-border>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeXs="6" sizeLg="3">
        <h4>Fivethree</h4>
        <a class="links" routerLink="/getting-started">Get Started</a>
        <a class="links" href="https://fivethree.io/">About Fivethree</a>
      </ion-col>
      <ion-col sizeXs="6" sizeLg="3">
        <h4>Resources</h4>
        <a class="links" href="https://angular.io/">Angular</a>
        <a class="links" href="https://ionicframework.com/">Ionic</a>
      </ion-col>
      <ion-col sizeXs="12" sizeLg="6" id="social">
        <a href="https://www.github.com/fivethree-team/fivethree" target="blank">
          <ion-icon slot="icon-only" name="logo-github"></ion-icon>
        </a>
        <a href="https://twitter.com/fivethreeteam" target="blank">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>