<app-header title="Overflow Buttons"></app-header>

<ion-content>
  <ion-grid class="page-content" fixed>
    <ion-row>
      <ion-col sizeXl="10" offsetXl="1" sizeLg="10" offsetLg="1" sizeMd="12" sizeXs="12" offsetXs="0" offsetSm="0"
        offsetMd="0" sizeSm="12" sizeMd="12">
        <app-example docs="assets/docs/components/overflow-buttons.md">
          <ion-item>
            <ion-label position="stacked">Number of visible icons</ion-label>
            <ion-input min="0" max="4" type="number" placeholder="0 - 4" [(ngModel)]="count">
            </ion-input>
          </ion-item>
          <ion-list>
            <ion-radio-group name="mode" (ionChange)="change($event)">
              <ion-list-header>Mode</ion-list-header>
              <ion-item>
                <ion-label>Popover</ion-label>
                <ion-radio checked value="popover"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Action Sheet</ion-label>
                <ion-radio value="action-sheet"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Bottom Sheet</ion-label>
                <ion-radio value="bottom-sheet"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-item-divider>
          </ion-item-divider>
          <ion-toolbar color="light">
            <ion-title color="primary">Example Toolbar</ion-title>
            <fiv-overflow-buttons color="primary" [mode]="mode" [count]="count" slot="end">
              <fiv-button [color]="'primary'" [icon]="'md-add'" (click)="presentToast('add clicked')" [text]="'Add'">
              </fiv-button>
              <fiv-button color="primary" (click)="presentToast('delete clicked')" [icon]="'md-trash'"
                [text]="'Delete'">
              </fiv-button>
              <fiv-button color="primary" (click)="presentToast('select image clicked')" [icon]="'md-image'"
                [text]="'Select Image'">
              </fiv-button>
              <fiv-button color="primary" (click)="presentToast('take photo clicked')" [icon]="'md-camera'"
                [text]="'Take Photo'">
              </fiv-button>
            </fiv-overflow-buttons>
          </ion-toolbar>

        </app-example>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>