<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ng-container *ngIf="backbutton">
        <fiv-back-button></fiv-back-button>
      </ng-container>
    </ion-buttons>
    <ion-title (click)="onTitleClicked()">{{title}}</ion-title>
    <ion-buttons slot="end">
      <a id="github" href="https://www.github.com/fivethree-team/fivethree" target="blank">
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>