ion-grid {
  margin-top: 56px;
}

.flex-scroll {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  ion-card {
    flex: 1 0 auto;
  }
}

.scroll {
  height: 100vh;
}

fiv-refresher {
  --fiv-spin-color: var(--ion-color-secondary);
  --fiv-hint-color: var(--ion-color-secondary);
  --fiv-spin-background: var(--ion-item-background);
}
ion-item,
ion-list {
  --background: var(--ion-item-background);
}
