<app-header *ngIf="header" title="Refresher"></app-header>

<ion-content>

  <fiv-refresher #refresher></fiv-refresher>

  <ion-grid class="page-content" fixed>
    <ion-row>
      <ion-col size="12">
        <app-example [docs]="'assets/docs/components/refresher.md'">
          <ion-item>
            <ion-label>Show Header</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="header"></ion-checkbox>
          </ion-item>
          <ion-toolbar color="translucent">
            <ion-buttons slot="end">
              <ion-button shape="round" fill="outline" color="primary" (click)="refresher.showHint()">
                Show hint
              </ion-button>
              <ion-button shape="round" fill="outline" color="primary" (click)="refresher.refresh()">
                Refresh
              </ion-button>
              <ion-button shape="round" fill="outline" color="primary" (click)="refresher.complete()">
                complete
              </ion-button>
            </ion-buttons>
          </ion-toolbar>

          <div class="scroll"></div>
        </app-example>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>