<ion-header>
  <ion-toolbar>
    <ion-title>loading</ion-title>
  </ion-toolbar>
</ion-header>

<fiv-loading-content #refresher (fivRefresh)="onRefresh($event)">
    <ion-card mode="ios" (click)="bar.loading ? bar.complete() : bar.toggleSpinner()">
        <fiv-loading-progress-bar #bar [global]="false"></fiv-loading-progress-bar>
        <ion-img src="https://beta.ionicframework.com/docs/content/component-preview-app/docs-www/assets/madison.jpg"></ion-img>
    
        <ion-card-content>
          <ion-card-title>Hello World</ion-card-title>
    
          <p>The content for this card</p>
        </ion-card-content>
      </ion-card>

    <fiv-loading-button #bb (click)="bb.loading ? bb.complete() : bb.toggleSpinner()" (fivRefreshComplete)="buttonComplete()">Formular absenden</fiv-loading-button>

</fiv-loading-content>

<fiv-loading-fab checkmark="true" slot="fixed" (fivComplete)="fabComplete()" loading="true" #fab (click)="fab.loading ? fab.complete() : fab.toggleSpinner()"
  horizontal="end" vertical="bottom" icon="md-add" spinColor="dark" fabColor="light" iconColor="primary"></fiv-loading-fab>