<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuId"></ion-menu-button>
    </ion-buttons>
    <ion-title>native-map-bottom-sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <fiv-google-maps-native #map></fiv-google-maps-native>
</ion-content>

<fiv-bottom-sheet [(state)]="drawerState" [minimumHeight]="minimumHeight" [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce"
  [distanceTop]="distanceTop">

  <fiv-bottom-sheet-content [float]="float" [rounded]="rounded" [handle]="handle">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
        <ion-card-title>Awesome Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Awesome content
      </ion-card-content>
    </ion-card>
  </fiv-bottom-sheet-content>
  
</fiv-bottom-sheet>