:host {
  position: relative;
  display: block;
}

.swiper-slide {
  text-align: left;
}

.content-container {
  width: 100%;
  height: 100%;
  padding: 16px;
}

@media (max-width: 411px) {
  .example {
    margin: 0px;
  }
}
