<ion-card>
  <ion-toolbar color="translucent">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="snippet" (click)="showApi = !showApi" [matTooltip]="showApi ? 'Close source' : 'View source'">
        <fiv-icon slot="start" [name]="showApi ? 'md-close' : 'md-code'"></fiv-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card-header>
    <ion-card-subtitle>{{subtitle}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div *ngIf="!showApi" class="content-container">
      <ng-content></ng-content>
    </div>
    <div *ngIf="showApi" class="content-container">
      <markdown [src]="snippet"></markdown>
    </div>
  </ion-card-content>
</ion-card>