<app-header title="Expandable"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-example [api]="'assets/docs/snippets/expandable/api.md'" [typescript]="'assets/docs/snippets/expandable/ts.md'"
          [css]="'assets/docs/snippets/expandable/css.md'" [html]="'assets/docs/snippets/expandable/html.md'" [title]="'Expandable Component'"
          [subtitle]="'Flexible Expandable component for building Accordions or Expansion Panels yourself.'">
          <ion-item-divider>
            <ion-label>Basic Example</ion-label>
          </ion-item-divider>

          <ion-button [disabled]="ex.isOpen" (click)="ex.open()">
            Open
          </ion-button>
          <ion-button [disabled]="!ex.isOpen" (click)="ex.close()">
            Close
          </ion-button>

          <fiv-expandable #ex>
            <fiv-ripple [hover]="true" header (fivClick)="ex.toggle()">
              <ion-item [lines]="'inset'">
                <ion-label>Expandable Header</ion-label>
                <fiv-expandable-indicator></fiv-expandable-indicator>
              </ion-item>
            </fiv-ripple>
            <div content>
              <span class="content" [fivCenter]>Expandable Content (height depends on contents size)</span>
            </div>
          </fiv-expandable>

        </app-example>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>