<app-header title="Expandable"></app-header>

<ion-content>
  <ion-grid class="page-content" fixed>
    <ion-row>
      <ion-col sizeXl="10" offsetXl="1" sizeLg="10" offsetLg="1" sizeMd="12" sizeXs="12" offsetXs="0" offsetSm="0"
        offsetMd="0" sizeSm="12" sizeMd="12">
        <app-example [docs]="'assets/docs/components/expandable.md'">
          <ion-item-divider>
            <ion-label>Basic Example</ion-label>
          </ion-item-divider>

          <ion-button [disabled]="ex.isOpen" (click)="ex.open()">
            Open
          </ion-button>
          <ion-button [disabled]="!ex.isOpen" (click)="ex.close()">
            Close
          </ion-button>

          <fiv-expandable #ex>
            <div style="position: relative;" header class="ion-activatable" (click)="ex.toggle()">
              <ion-item [lines]="'inset'">
                <ion-label>Expandable Header</ion-label>
                <fiv-expandable-indicator></fiv-expandable-indicator>
              </ion-item>

              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>
            <div content>
              <span class="content" [fivCenter]>Expandable Content (height depends on contents size)</span>
            </div>
          </fiv-expandable>

        </app-example>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>