:host {
  display: block;
  position: relative;
  height: 88px;
  width: 100%;
  --fiv-border-radius: 6px;
  --fiv-background: var(--ion-color-dark);
  --fiv-radius: 88px;
  --fiv-fab-size: 72px;
}

@function property-value($property, $selector: null) {
  @return $magic;
}

.container {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  height: calc(100%);
  background: rgba(0, 0, 0, 0);
}

.side {
  width: calc(50% - (var(--fiv-radius) / 2));
  position: absolute;
}

.center {
  position: absolute;
  left: calc(50% - (var(--fiv-radius) / 2) - 1px);
  bottom: 0;
  width: calc(var(--fiv-radius) + 2px);
  height: calc(100% - var(--fiv-border-radius) - (var(--fiv-radius) / 2));
  background: var(--fiv-background);
}

svg {
  height: calc(var(--fiv-radius) / 2);
  width: var(--fiv-radius);
  left: calc(50% - (var(--fiv-radius) / 2));
  position: absolute;
  top: var(--fiv-border-radius);
  border-left: -1px solid var(--fiv-background);
  border-right: -1px solid var(--fiv-background);
  border-bottom: -1px solid var(--fiv-background);

  polygon {
    fill: var(--fiv-background);
    stroke: var(--fiv-background);
  }
}

.left {
  left: 0;
}
.right {
  right: 0;
}
.top {
  height: var(--fiv-border-radius);
  background: var(--fiv-background);
  top: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
.bottom {
  height: calc(100% - var(--fiv-border-radius) + 1px);
  background: var(--fiv-background);
  bottom: 0;
}

.top.right {
  border-top-left-radius: var(--fiv-border-radius);
}
.top.left {
  border-top-right-radius: var(--fiv-border-radius);
}
.bottom.right {
  border-top-left-radius: 1px;
}
.bottom.left {
  border-top-right-radius: 1px;
}

ion-fab {
  position: absolute;
  left: calc(50% - 0.5 * var(--fiv-fab-size));
  top: calc(-0.5 * var(--fiv-fab-size) + var(--fiv-border-radius));

  ion-fab-button {
    height: var(--fiv-fab-size);
    width: var(--fiv-fab-size);
  }
}
