<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuId"></ion-menu-button>
    </ion-buttons>
    <ion-title>Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item-divider>Expandable</ion-item-divider>

  <fiv-expandable #ex>
    <ion-item header (click)="ex.toggle()">
      <ion-icon slot="start" name="basket"></ion-icon>
      <ion-label>Awesome Label</ion-label>
    </ion-item>

    <ion-list content>
      <ion-item>Apple</ion-item>
      <ion-item>Banana</ion-item>
      <ion-item>Pineapple</ion-item>
    </ion-list>
  </fiv-expandable>

  <ion-item-divider>Stepper</ion-item-divider>

  <fiv-stepper #stepper>
    <fiv-step [title]="'Awesome Title'" [subtitle]="'Awesome Subtitle'">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button color="dark" (click)="stepper.closeAll()">
                  Close
                </ion-button>
                <ion-button color="dark" (click)="stepper.reset(0)">
                  reset
                </ion-button>
                <ion-button color="secondary" (click)="stepper.completeStep(0)">
                  Complete
                </ion-button>
                <ion-button color="primary" (click)="stepper.select(1)">
                  NEXT
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card-content>
      </ion-card>
    </fiv-step>
    <fiv-step [title]="'Address'" [subtitle]="'Please enter your adress'">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button color="dark" (click)="stepper.select(0)">
                  Previous
                </ion-button>
                <ion-button color="primary" (click)="stepper.select(2)">
                  NEXT
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card-content>
      </ion-card>
    </fiv-step>
    <fiv-step [title]="'Awesome Title'" [subtitle]="'Awesome Subtitle'">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button color="dark" (click)="stepper.select(1)">
                  Previous
                </ion-button>
                <ion-button color="primary" (click)="stepper.select(0)">
                  NEXT
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card-content>
      </ion-card>
    </fiv-step>
  </fiv-stepper>

</ion-content>