<app-header title="Overflow Buttons"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-example [snippet]="'assets/docs/snippets/buttons.md'" [title]="'Overflow Buttons'" [subtitle]="'Easily build responsive Toolbar Buttons with overflow menus. By default, this will show a Popover on desktop and an Actionsheet on mobile.'">
          <ion-item-divider>
            <ion-label>Example</ion-label>
          </ion-item-divider>

          <ion-card>
            <ion-toolbar>
              <fiv-buttons [iconsOnly]="iconsOnly" [forceActionsheet]="forceActionsheet" [forcePopover]="forcePopover"
                [header]="header" [subHeader]="subHeader" [count]="count" slot="end">
                <fiv-button (click)="presentToast('add clicked')" [icon]="'md-add'" [text]="'Add'">
                </fiv-button>
                <fiv-button (click)="presentToast('delete clicked')" [icon]="'md-trash'" [text]="'Delete'">
                </fiv-button>
                <fiv-button (click)="presentToast('select image clicked')" [icon]="'md-image'" [text]="'Select Image'">
                </fiv-button>
                <fiv-button (click)="presentToast('take photo clicked')" [icon]="'md-camera'" [text]="'Take Photo'">
                </fiv-button>
              </fiv-buttons>
            </ion-toolbar>
            <ion-card-content>
              Parameters:

              <ion-item>
                <ion-label position="floating">Number of visible icons outside of popover / actionsheet</ion-label>
                <ion-input min="0" max="4" type="number" placeholder="0 - 4" [(ngModel)]="count"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Header Text (Actionsheet only)</ion-label>
                <ion-input type="text" placeholder="header" [(ngModel)]="header"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Subheader Text (Actionsheet only)</ion-label>
                <ion-input type="text" placeholder="subHeader" [(ngModel)]="subHeader"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Force Actionsheet</ion-label>
                <ion-checkbox [checked]="forceActionsheet" [(ngModel)]="forceActionsheet" slot="end"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Force Popover</ion-label>
                <ion-checkbox [checked]="forcePopover" [(ngModel)]="forcePopover" slot="end"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Show icons only (Toolbar only)</ion-label>
                <ion-checkbox [checked]="iconsOnly" [(ngModel)]="iconsOnly" slot="end"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>

        </app-example>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>