#grid {

    margin-top: 100px;
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
}

#grid fiv-image {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}