.host {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 5001;
    .backdrop {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.15);
    }
}

.host.bottom {
    bottom: 0;
    .backdrop {
        bottom: 0;
    }
}

.host.top {
    top: 0;
    .backdrop {
        top: 0;
    }
}

.host.center {
    top: 0;
    .backdrop {
        top: 0;
    }
}

.dialog {
    position: absolute;
    width: 100%;
    min-height: 112px;
    background: white;
    z-index: 5002;
}