<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <fiv-back-button></fiv-back-button>
    </ion-buttons>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <fiv-image-gallery>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <fiv-image [src]="'https://via.placeholder.com/823x412/00ffff'"></fiv-image>
        </ion-col>
        <ion-col size="6">
          <fiv-image [src]="'https://via.placeholder.com/600x500'"></fiv-image>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <fiv-image [src]="'https://via.placeholder.com/823x412/00ffff'"></fiv-image>
        </ion-col>
        <ion-col size="4">
          <fiv-image [src]="'https://via.placeholder.com/600x500'"></fiv-image>
        </ion-col>
        <ion-col size="4">
          <fiv-image [src]="'https://via.placeholder.com/600x500'"></fiv-image>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-slides pager="true">
      <ion-slide>
        <fiv-image [src]="'https://via.placeholder.com/600x500'"></fiv-image>
      </ion-slide>
      <ion-slide>
        <fiv-image [src]="'https://via.placeholder.com/823x412/00ffff'"></fiv-image>
      </ion-slide>
    </ion-slides>

  </fiv-image-gallery>



</ion-content>