<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

 <ion-button (click)="visible = !visible">
   <ion-icon slot="start" name="add"></ion-icon>
   Toggle Dialog Visibility
 </ion-button>

</ion-content>

<div class="host" [ngClass]="{'bottom': verticalAlign === 'bottom','center': verticalAlign === 'center', 'top': verticalAlign === 'top'}">
  <div *ngIf="visible && backdrop" class="backdrop"></div>
</div>
<div [@dialogAnim]="visible ? verticalAlign : verticalAlign + '-' + animation" class="dialog">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>
</div>