<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <fiv-expandable #ex [isOpen]="true" [timingFunction]="timingFunction">
    <ion-item header (click)="ex.toggle()">
      <ion-label>Expandable Header</ion-label>
      <fiv-expandable-indicator icon="ios-arrow-down"></fiv-expandable-indicator>
    </ion-item>
    <ion-list content>
      <ion-item>Expandable Content (height depends on contents size)</ion-item>
    </ion-list>
  </fiv-expandable>
</ion-content>