<ion-header>
  <fiv-toolbar-search placeholder="Text eingeben" title="Titel">
    <ion-back-button defaultHref="/home" start></ion-back-button>
  </fiv-toolbar-search>
</ion-header>

<ion-content [scrollEvents]="true">
  <fiv-item-expandable text="Ducks" icon="search" [expanded]="true">
    <ion-item>Tick</ion-item>
    <ion-item>Trick</ion-item>
    <ion-item>Track</ion-item>
  </fiv-item-expandable>

  <fiv-item-expandable text="Fruits" icon="basket" iconAnimated="home">

    <ion-item header>
      <ion-icon slot="start" name="basket"></ion-icon>
      <ion-label>Awesome Label</ion-label>
    </ion-item>

    <ion-list content>
        <ion-item>Apple</ion-item>
        <ion-item>Banana</ion-item>
        <ion-item>Pineapple</ion-item>
    </ion-list>
   
  </fiv-item-expandable>
  <ion-item class="iiii">
    <ion-label>
      wow
    </ion-label>
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <fiv-app-bar [fabIcon]="appBar.fabLeft? 'md-help' : appBar.fabRight ? 'md-share-alt' : 'md-add'" [fabLeft]="false" [fabRight]="false"
    #appBar (fabClick)="fabClicked($event)">
    <ion-menu-button *ngIf="!appBar.fabLeft && !appBar.fabRight" start></ion-menu-button>
    <ion-button *ngIf="!appBar.fabLeft && !appBar.fabRight" end icon-only>
      <ion-icon slot="icon-only" name="md-profile"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!appBar.fabLeft && !appBar.fabRight" end icon-only>
      <ion-icon slot="icon-only" name="md-search"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!appBar.fabLeft && !appBar.fabRight" end icon-only>
      <ion-icon slot="icon-only" name="md-more"></ion-icon>
    </ion-button>
    <ion-button *ngIf="appBar.fabRight" start icon-only>
      <ion-icon slot="icon-only" name="md-mail"></ion-icon>
    </ion-button>
    <ion-button *ngIf="appBar.fabRight" start icon-only>
      <ion-icon slot="icon-only" name="md-trash"></ion-icon>
    </ion-button>
    <ion-button *ngIf="appBar.fabRight" start icon-only>
      <ion-icon slot="icon-only" name="md-archive"></ion-icon>
    </ion-button>

  </fiv-app-bar>
</ion-content>