ion-button,
ion-menu-button {
    color: var(--ion-color-primary-contrast);
}

:host{
    --fiv-color-circle: #488aff;
    --fiv-color-circle-color: #fff;
    --fiv-color-timeline: #989aa2;
    --fiv-color-subtitle: #989aa2;
    --fiv-color-title: #222;
}


