<ion-header>
  <fiv-toolbar-search placeholder="Text eingeben" title="Titel">
    <ion-back-button defaultHref="/home" start></ion-back-button>
  </fiv-toolbar-search>
</ion-header>

<ion-content [scrollEvents]="true">

  <fiv-item-expandable #ex>

    <ion-item header (click)="ex.open()">
      <ion-icon slot="start" name="basket"></ion-icon>
      <ion-label>Awesome Label</ion-label>
    </ion-item>

    <ion-list content>
        <ion-item>Apple</ion-item>
        <ion-item>Banana</ion-item>
        <ion-item>Pineapple</ion-item>
    </ion-list>
   
  </fiv-item-expandable>

  <ion-item-divider>Stepper</ion-item-divider>

  <fiv-stepper #stepper>
    <fiv-step [title]="'Awesome Title'" [subtitle]="'Awesome Subtitle'">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button color="dark" (click)="stepper.closeAll()">
                  Close
                </ion-button>
                <ion-button color="dark" (click)="stepper.reset(0)">
                  reset
                </ion-button>
                <ion-button color="secondary" (click)="stepper.completeStep(0)">
                  Complete
                </ion-button>
                <ion-button color="primary" (click)="stepper.select(1)">
                  NEXT
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card-content>
      </ion-card>
    </fiv-step>
    <fiv-step [title]="'Address'" [subtitle]="'Please enter your adress'">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button color="dark" (click)="stepper.select(0)">
                  Previous
                </ion-button>
                <ion-button color="primary" (click)="stepper.select(2)">
                  NEXT
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card-content>
      </ion-card>
    </fiv-step>
    <fiv-step [title]="'Awesome Title'" [subtitle]="'Awesome Subtitle'">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button color="dark" (click)="stepper.select(1)">
                  Previous
                </ion-button>
                <ion-button color="primary" (click)="stepper.select(0)">
                  NEXT
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card-content>
      </ion-card>
    </fiv-step>

  </fiv-stepper>


  <ion-item class="iiii">
    <ion-label>
      wow
    </ion-label>
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>
  <ion-item class="iiii">
    test
  </ion-item>


  <fiv-app-bar [fabIcon]="'md-add'" [fabLeft]="false" [fabRight]="false"
    #appBar (fabClick)="fabClicked($event)">
    <ion-menu-button *ngIf="!appBar.fabLeft && !appBar.fabRight" start></ion-menu-button>
    <ion-button *ngIf="!appBar.fabLeft && !appBar.fabRight" end icon-only>
      <ion-icon slot="icon-only" name="md-profile"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!appBar.fabLeft && !appBar.fabRight" end icon-only>
      <ion-icon slot="icon-only" name="md-search"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!appBar.fabLeft && !appBar.fabRight" end icon-only>
      <ion-icon slot="icon-only" name="md-more"></ion-icon>
    </ion-button>
    <ion-button *ngIf="appBar.fabRight" start icon-only>
      <ion-icon slot="icon-only" name="md-mail"></ion-icon>
    </ion-button>
    <ion-button *ngIf="appBar.fabRight" start icon-only>
      <ion-icon slot="icon-only" name="md-trash"></ion-icon>
    </ion-button>
    <ion-button *ngIf="appBar.fabRight" start icon-only>
      <ion-icon slot="icon-only" name="md-archive"></ion-icon>
    </ion-button>

  </fiv-app-bar>
</ion-content>