<app-header title="Stepper"></app-header>

<ion-content>
  <ion-grid class="page-content" fixed>
    <ion-row>
      <ion-col sizeXl="10" offsetXl="1" sizeLg="10" offsetLg="1" sizeMd="12" sizeXs="12" offsetXs="0" offsetSm="0"
        offsetMd="0" sizeSm="12" sizeMd="12">
        <app-example docs="assets/docs/components/stepper.md">
          <ion-item-divider>
            <ion-label>Vertical Stepper</ion-label>
          </ion-item-divider>
          <ion-item line="none">
            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor.
          </ion-item>
          <div class="wrapper">
            <fiv-stepper #stepperV [mode]="'vertical'" (fivClick)="stepperV.open($event)">
              <fiv-step [title]="'Awesome Title'" [subtitle]="'Awesome Subtitle'">
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="dark" (click)="stepperV.closeAll()">
                        Close
                      </ion-button>
                      <ion-button color="dark" (click)="stepperV.reset(0)">
                        reset
                      </ion-button>
                      <ion-button color="secondary" (click)="stepperV.completeStep(0)">
                        Complete
                      </ion-button>
                      <ion-button color="primary" (click)="stepperV.select(1)">
                        NEXT
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
              <fiv-step [title]="'Address'" [subtitle]="'Please enter your adress'">
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="dark" (click)="stepperV.select(0)">
                        Previous
                      </ion-button>
                      <ion-button color="primary" (click)="stepperV.select(2)">
                        NEXT
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
              <fiv-step [title]="'Awesome Title'" [subtitle]="'Awesome Subtitle'">
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="dark" (click)="stepperV.select(1)">
                        Previous
                      </ion-button>
                      <ion-button color="primary" (click)="stepperV.select(0)">
                        NEXT
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
            </fiv-stepper>
          </div>
          <ion-item-divider>
            <ion-label>Horizontal Stepper</ion-label>
          </ion-item-divider>
          <ion-item line="none">
            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor.
          </ion-item>
          <div class="wrapper">
            <fiv-stepper #stepper [mode]="'horizontal'">
              <fiv-step [title]="'Awesome Title'" [subtitle]="'Awesome Subtitle'">
                <ion-card class="card-horizontal">
                  <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="primary" (click)="stepper.select(1)">
                        NEXT
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
              <fiv-step [title]="'Address'" [subtitle]="'Please enter your adress'">
                <ion-card class="card-horizontal">
                  <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>

                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="dark" (click)="stepper.select(0)">
                        Previous
                      </ion-button>
                      <ion-button color="primary" (click)="stepper.select(2)">
                        NEXT
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
              <fiv-step [title]="'Awesome Title'" [subtitle]="'Awesome Subtitle'">
                <ion-card class="card-horizontal">
                  <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="dark" (click)="stepper.select(1)">
                        Previous
                      </ion-button>
                      <ion-button color="primary" (click)="stepper.select(0)">
                        NEXT
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
            </fiv-stepper>
          </div>
        </app-example>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>