<app-header></app-header>

<ion-content>
    <div class="docs-header">
        <h1>Fivethree Components</h1>
        <h2>Material components for Ionic and Angular</h2>

        <ion-button class="docs-header-get-started" href="/fivethree/getting-started" shape="round" translate>
            common.get-started
        </ion-button>
    </div>

    <div class="docs-homepage-promo">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="6">
                    <h2>Optimized for Ionic and Angular</h2>
                    <p>Built with Angular Library adding new components and extending Ionic components.</p>
                </ion-col>
                <ion-col size="6">
                    <!-- TODO add icon -->
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <app-footer></app-footer>
</ion-content>