.big {
    height: calc(100% - 20px);
}

.small {
    height: 164px;
}

ion-card {
    transition: box-shadow 140ms;

    .card-content {
        font-size: 12px;
    }
}

ion-card:hover {
    box-shadow: 0 0.35em 1.175em rgba(0, 0, 0, 0.1), 0 0.175em 0.5em rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

ion-title {
    font-size: 26px;
}

ion-title {
    markdown {
        display: inline-block;
    }
}