<app-header></app-header>

<ion-content>

  <div id="page-not-found-container">
    <div [fivCenter] class="ion-text-center">
      <lottie-animation-view [options]="lottieConfig" [width]="200" [height]="200"
        (animCreated)="handleAnimation($event)">
      </lottie-animation-view>
      <h3 class="ion-text-center">Oops, we couldn't find the page you are looking for.</h3>
      <ion-button routerLink="/" shape="round">
        Go to homepage
      </ion-button>
    </div>
  </div>
</ion-content>