
  <fiv-app-bar #bar [position]="position" [fabVisible]="fabVisible" [icon]="icon">
    <fiv-app-bar-tab left [href]="'dialog'" [icon]="'md-add'">
    </fiv-app-bar-tab>
    <fiv-app-bar-tab left [href]="'directives'" [icon]="'md-add'">
        <ion-content>
            <p>test 2</p>
          </ion-content>
    </fiv-app-bar-tab>
    <fiv-app-bar-tab right [href]="'loading'" [icon]="'md-add'">
    </fiv-app-bar-tab>
    <fiv-app-bar-tab [href]="'stepper'"  right [icon]="'md-add'">
    </fiv-app-bar-tab>
  </fiv-app-bar>