.container.min {
  min-height: 70vh;
  max-width: 411px;
  display: block;
  position: relative;
  margin: 0 auto;
  border: 2px solid var(--ion-color-dark);
  cursor: url(/assets/icon/cursor.png), auto;
}

fiv-app-bar {
  // --fiv-icon-color: var(--ion-color-dark);
  // --fiv-small-icon-background-color: yellow;
  // --fiv-small-icon-color: red;

  // --fiv-badge-background-color: yellow;
  // --fiv-badge-color: red;

  // --fiv-dot-background-color: yellow;

  // --fiv-icon-activ-color: red;
}
