<app-header title="Bottom Sheet"></app-header>


<ion-content [style.filter]="filter" [style.transform]="transform" class="ion-padding" no-bounce>
  <ion-grid class="page-content" fixed>
    <ion-row>
      <ion-col sizeXl="10" offsetXl="1" sizeLg="10" offsetLg="1" sizeMd="12" sizeXs="12" offsetXs="0" offsetSm="0"
        offsetMd="0" sizeSm="12" sizeMd="12">
        <app-example docs="assets/docs/components/bottom-sheet.md">
          <ion-list *fivIf="['mobile']">
            <ion-radio-group [value]="states.Docked">
              <ion-item>
                <ion-label>Top</ion-label>
                <ion-radio [value]="states.Top" (click)="drawerState = states.Top"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Docked</ion-label>
                <ion-radio [value]="states.Docked" (click)="drawerState = states.Docked"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Bottom</ion-label>
                <ion-radio [value]="states.Bottom" (click)="drawerState = states.Bottom"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label>Bounce</ion-label>
              <ion-checkbox [(ngModel)]="shouldBounce"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Docked height</ion-label>
              <ion-input type="number" [(ngModel)]="dockedHeight" value="150"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Top Distance</ion-label>
              <ion-input type="number" [(ngModel)]="distanceTop" value="56"></ion-input>
            </ion-item>
            <ion-item-divider>
              <ion-label>Bottom Sheet Content</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Show example content pan animation</ion-label>
              <ion-checkbox [(ngModel)]="animation"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Rounded</ion-label>
              <ion-checkbox [(ngModel)]="rounded"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Handle</ion-label>
              <ion-checkbox [(ngModel)]="handle"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Float</ion-label>
              <ion-checkbox [(ngModel)]="float"></ion-checkbox>
            </ion-item>
          </ion-list>
          <p *fivIf="['desktop']">This component only works on mobile.</p>

        </app-example>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<fiv-bottom-sheet (fivProgress)="onPan($event)" #fbs *fivIf="['mobile']" [(state)]="drawerState"
  [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">

  <fiv-bottom-sheet-content [float]="float" [rounded]="rounded" [handle]="handle">


  </fiv-bottom-sheet-content>

</fiv-bottom-sheet>