<app-header title="Password Reveal Input"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-example [html]="'assets/docs/snippets/password/password.basic.md'" [title]="'Basic password reveal input'">
          <fiv-password-input></fiv-password-input>
        </app-example>

        <app-example [html]="'assets/snippets/password/password.placeholder.md'" [title]="'Placeholder text for password reveal input'">
          <fiv-password-input placeholder="Password"></fiv-password-input>
        </app-example>

        <app-example [html]="'assets/snippets/password/password.form.md'" [title]="'Form with password reveal input'">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>

            <ion-item *ngIf="email.invalid && email.touched" lines="none">
              <ion-text color="danger" class="form-error">
                Please enter a valid email.
              </ion-text>
            </ion-item>

            <fiv-password-input placeholder="Password" formControlName="password"></fiv-password-input>

            <ion-item *ngIf="password.invalid && password.touched" lines="none">
              <ion-text color="danger" class="form-error">
                Please enter a valid password with atleast 4 characters.
              </ion-text>
            </ion-item>
            <ion-button block shape="round" color="primary" type="submit" [disabled]="loginForm.invalid">
              Login
            </ion-button>
          </form>
        </app-example>

        <app-example [html]="'assets/snippets/password/password.position.md'" [title]="'Style placeholder position of reveal password input'">
          <ion-item-divider>Floating placeholder</ion-item-divider>
          <fiv-password-input placeholder="Password" position="floating"></fiv-password-input>

          <ion-item-divider>Inline placeholder</ion-item-divider>
          <fiv-password-input placeholder="Password" position="inline"></fiv-password-input>

          <ion-item-divider>Fixed placeholder</ion-item-divider>
          <fiv-password-input placeholder="Password" position="fixed"></fiv-password-input>

          <ion-item-divider>Stacked placeholder</ion-item-divider>
          <fiv-password-input placeholder="Password" position="stacked"></fiv-password-input>
        </app-example>

        <app-example [html]="'assets/snippets/password/password.show.md'" [title]="'Show password'">
          <ion-item lines="none">
            <ion-label>Show Password</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="show"></ion-checkbox>
          </ion-item>
          <fiv-password-input placeholder="Password" [show]="show"></fiv-password-input>
        </app-example>

        <app-example [html]="'assets/snippets/password/password.custom-icon.md'" [title]="'Custom show/hide password icon'">
          <fiv-password-input placeholder="Password" showIcon="ice-cream" hideIcon="leaf"></fiv-password-input>
        </app-example>

      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
