<ion-header>
  <ion-toolbar>
    <ion-title>password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item-divider>Default Password</ion-item-divider>
  <fiv-password></fiv-password>

  <ion-item-divider>Password with placeholder</ion-item-divider>
  <fiv-password placeholder="Password"></fiv-password>

  <ion-item-divider>Password with placeholder and inline position</ion-item-divider>
  <fiv-password placeholder="Password" position="inline"></fiv-password>

  <ion-item-divider>Show password</ion-item-divider>
  <fiv-password [show]="true"></fiv-password>

  <ion-item-divider>Password with any show and hide icons</ion-item-divider>
  <fiv-password showIcon="ice-cream" hideIcon="leaf"></fiv-password>

  <ion-item-divider>Password in form</ion-item-divider>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <fiv-password placeholder="Password" formControlName="password"></fiv-password>
    <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </ion-button>
  </form>

</ion-content>