<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuId"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reveal Password Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-example [snippet]="'assets/snippets/password/password.basic.md'" [title]="'Basic Reveal Password Input'">
          <fiv-password></fiv-password>
        </app-example>

        <app-example [snippet]="'assets/snippets/password/password.placeholder.md'" [title]="'Placeholder text for reveal password input'">
          <fiv-password placeholder="Password"></fiv-password>
        </app-example>

        <app-example [snippet]="'assets/snippets/password/password.form.md'" [title]="'Form with reveal password input'">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>

            <ion-item *ngIf="email.invalid && email.touched" lines="none">
              <ion-text color="danger" class="form-error">
                  Please enter a valid email.
              </ion-text>
            </ion-item>

            <fiv-password placeholder="Password" formControlName="password"></fiv-password>

            <ion-item *ngIf="password.invalid && password.touched" lines="none">
              <ion-text color="danger" class="form-error">
                  Please enter a valid password with atleast 4 characters.
              </ion-text>
            </ion-item>
            <ion-button block shape="round" color="primary" type="submit" [disabled]="loginForm.invalid">
              Login
            </ion-button>
          </form>
        </app-example>

        <app-example [snippet]="'assets/snippets/password/password.position.md'" [title]="'Style placeholder position of reveal password input'">
          <ion-item-divider>Floating placeholder</ion-item-divider>
          <fiv-password placeholder="Password" position="floating"></fiv-password>

          <ion-item-divider>Inline placeholder</ion-item-divider>
          <fiv-password placeholder="Password" position="inline"></fiv-password>

          <ion-item-divider>Fixed placeholder</ion-item-divider>
          <fiv-password placeholder="Password" position="fixed"></fiv-password>

          <ion-item-divider>Stacked placeholder</ion-item-divider>
          <fiv-password placeholder="Password" position="stacked"></fiv-password>
        </app-example>

        <app-example [snippet]="'assets/snippets/password/password.show.md'" [title]="'Show password'">
          <ion-item lines="none">
            <ion-label>Show Password</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="show"></ion-checkbox>
          </ion-item>
          <fiv-password placeholder="Password" [show]="show"></fiv-password>
        </app-example>

        <app-example [snippet]="'assets/snippets/password/password.custom-icon.md'" [title]="'Custom show/hide password icon'">
          <fiv-password placeholder="Password" showIcon="ice-cream" hideIcon="leaf"></fiv-password>
        </app-example>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
