<app-header title="Image Gallery"></app-header>


<ion-content padding>

  <fiv-gallery>
    <ion-grid fixed no-padding>
      <ion-row class="big">
        <ion-col size="6">
            <fiv-gallery-image [src]="'assets/images/photo_2.jpeg'"></fiv-gallery-image>
          </ion-col>
        <ion-col size="6">
          <fiv-gallery-image [src]="'assets/images/photo_1.jpeg'"></fiv-gallery-image>
        </ion-col>
      </ion-row>
      <ion-row class="large">
        <ion-col size="4">
            <fiv-gallery-image [src]="'assets/images/photo_3.jpeg'"></fiv-gallery-image>
          </ion-col>
        <ion-col size="4">
            <fiv-gallery-image [src]="'assets/images/photo_4.jpeg'"></fiv-gallery-image>
          </ion-col>
        <ion-col size="4">
            <fiv-gallery-image [src]="'assets/images/photo_5.jpeg'"></fiv-gallery-image>
        </ion-col>
      </ion-row>
      <ion-row class="small">
        <ion-col size="3">
            <fiv-gallery-image [src]="'assets/images/photo_6.jpeg'"></fiv-gallery-image>
          </ion-col>
        <ion-col size="3">
            <fiv-gallery-image [src]="'assets/images/photo_7.jpeg'"></fiv-gallery-image>
          </ion-col>
        <ion-col size="3">
            <fiv-gallery-image [src]="'assets/images/photo_8.jpeg'"></fiv-gallery-image>
        </ion-col>
        <ion-col size="3">
            <fiv-gallery-image [src]="'assets/images/photo_9.jpeg'"></fiv-gallery-image>
        </ion-col>
      </ion-row>
    </ion-grid>

  </fiv-gallery>
</ion-content>