<ion-header>
  <ion-toolbar>
    <ion-title>image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <fiv-image-viewer [width]="207" [height]="244" [actions]="[{icon: 'md-trash', name: 'remove'},{icon: 'md-send', name: 'send'}]" [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQRop4VKhcYOvhY8gLZEICF8ZnWhKFVi6zgsxSCXwEGi2uukej'"></fiv-image-viewer>
  <fiv-image-viewer [width]="207" [height]="244" [actions]="[{icon: 'md-trash'},{icon: 'md-send'},{icon: 'md-image'},{icon: 'md-share'}]" [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQRop4VKhcYOvhY8gLZEICF8ZnWhKFVi6zgsxSCXwEGi2uukej'"></fiv-image-viewer>
  <fiv-image-viewer [width]="207" [height]="244" [actions]="[{name: 'Ablesung abschließen'}]" [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQRop4VKhcYOvhY8gLZEICF8ZnWhKFVi6zgsxSCXwEGi2uukej'"></fiv-image-viewer>

</ion-content>